<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="StudyOn"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyOn"
        tools:targetApi="31">
        
        <!-- 스플래시 액티비티 (런처) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.StudyOn.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 메인 액티비티 -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.StudyOn" />
            
    </application>

</manifest> 